body {
  margin: 0;
  height: 100%;
  background-color: var(--color-highlight);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top top" "filebrowser notepad" "timeline timeline";
  -ms-grid-columns: 170px minmax(0, 1fr);
      grid-template-columns: 170px minmax(0, 1fr);
  -ms-grid-rows: 0px minmax(0, 1fr) 110px 5px;
      grid-template-rows: 0px minmax(0, 1fr) 110px 5px;
}

.light-theme {
  --color-accent: #555;
  --color-text-primary: #444;
  --color-primary: #eee;
  --color-secondary: #b2b2b2;
  --color-tertiary: #ddd;
  --color-highlight: #2e4648;
  --color-highlight-sub: #4ea3ad33;
}

.dark-theme {
  --color-primary: #15181a;
  --color-secondary: #242424;
  --color-tertiary: #333;
  --color-text-primary: rgb(175, 175, 175);
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-secondary);
  position: relative;
}

#timeline-top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0;
  border: 0px solid #333D3A;
  border-width: thin 0;
  background: var(--color-highlight);
  height: 26px;
}

#timeline-top-buttons > div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#timeline-top-buttons #timeline-new-event-btn {
  background: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  padding: 5px 10px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 1rem;
  font-family: sans-serif;
  border-radius: 0.5rem;
}

#timeline-top-buttons #timeline-new-event-btn:hover {
  background: rgba(0, 0, 0, 0.5);
}

#timeline-top-buttons .timeline-hour-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  width: 30px;
  padding: 0 .25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeline-top-buttons .timeline-top-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 26px;
  width: 26px;
  color: var(--color-primary);
}

#timeline-top-buttons .timeline-top-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#timeline-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  background: var(--color-highlight-sub);
  position: relative;
}

#timeline-body .timeline-line-div {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #3a3a3a;
}

/* Timeline New Event Modal */
.tn-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.tn-modal-content {
  background-color: #fefefe;
  margin: 20% auto 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#timeline-n-div {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timeline-n-div label {
  display: block;
  background: transparent;
  grid-column: span 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#timeline-n-div input {
  border: 1px solid black;
  grid-column: span 1;
  text-align: center;
}

#timeline-n-div .tn-input-div {
  border: 0px solid black;
  width: 100%;
  margin: 0px 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[2];
      grid-template-rows: repeat(2, minmax(0, 1fr));
}

#timeline-n-div .tn-input-div.title > input {
  grid-column: span 2;
}

#timeline-n-div .tn-input-div.date {
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
}

#timeline-n-div .tn-input-div.date > label {
  grid-column: span 3;
}

/* Timeline Change Event Container */
#timeline-c-div {
  background: white;
  width: 100%;
  position: absolute;
  top: -56px;
  height: 40px;
  padding: 5px 0;
  border: 0px solid black;
  border-width: 1px 0px;
  display: none;
}

#timeline-c-div #timeline-c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timeline-c-div #timeline-c-container label {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

#timeline-c-div #tc-title {
  width: 90%;
}

#timeline-c-div .tc-input-container {
  margin: 0 5px;
  height: 100%;
  width: 10%;
  min-width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#timeline-c-div .tc-title-input {
  width: 30%;
}

#timeline-c-div .tc-date-input {
  width: 20%;
}

#timeline-c-div .tc-date-input #tc-year {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

#timeline-c-div .tc-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 1px solid black;
  text-align: center;
  padding: 1px 0;
}

#timeline-c-div .tc-button {
  width: 20%;
  height: 100%;
  float: right;
  margin-right: 5px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeline-c-div .tc-button:hover {
  opacity: .8;
}

#timeline-c-div #tc-submit {
  background: green;
}

#timeline-c-div #tc-remove {
  background: red;
}

#timeline-c-div #tc-cancel {
  background: palevioletred;
}

.event-div {
  position: absolute;
  height: 10px;
  background: rgba(89, 126, 117, 0.72);
}

.event-div:hover {
  background: blueviolet !important;
}

.custom-context-menu {
  position: absolute;
  width: 200px;
  height: auto;
  background: #4e4e4e;
}

.context-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 0 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.context-btn:hover {
  background: #a8a4a4;
}

#filebrowser {
  background-color: var(--color-text-primary);
  color: var(--color-primary);
  font-family: sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#filebrowser i {
  color: rgba(255, 255, 255, 0.5);
}

.fb-title {
  font-size: small;
  font-family: 'Segoe UI';
  font-weight: bolder;
  padding: 10px 15px;
  /* border: 0px solid grey;
    border-bottom-width: thin;
    margin-bottom: 10px; */
}

.fb-section {
  padding: .5em 0;
}

.fb-title-btn {
  width: 100%;
  background-color: transparent;
  border-style: none;
}

.fb-title-btn-title {
  font-family: 'Segoe UI';
  text-align: center;
  text-align: left;
  padding-left: 1em;
  color: #d8d8d8;
}

.fb-item-btn {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4px 0px;
  /* transition: all 0.1s ease; */
}

.fb-item-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.fb-item-btn.isActive {
  background-color: rgba(255, 255, 255, 0.15);
}

.fb-item-title {
  white-space: nowrap;
  font-family: 'Segoe UI';
  text-align: center;
  text-align: left;
  padding-left: 7px;
  color: var(--color-primary);
}

.fb-item-dragging {
  width: auto;
  height: auto;
  color: #d8d8d8;
  background-color: #395166;
  padding: 0px 6px;
  border: 1px solid #488dca;
  opacity: .86;
  font-size: smaller;
}

.ql-snow .ql-formats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.ql-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ql-toolbar.ql-snow {
  padding: 1px;
  border-width: 1px 0px;
}

.ql-editor > div {
  border: none;
  background: var(--color-secondary);
  color: var(--color-text-primary);
  letter-spacing: 1em;
  text-align: center;
  height: .25rem;
  caret-color: transparent;
  margin: .5rem 0;
}

.ql-container.ql-snow {
  border: 0px;
}

.tab-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 5px 5px 5px 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  margin-right: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.tab-div span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tab-div:hover .close-tab {
  color: #4d4d4d;
}

.tab-div .close-tab {
  color: transparent;
}

.tab-div .close-tab:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tab-div i {
  font-size: small;
  padding: 2px 4px;
}

.tab-div.tab-div-active {
  background: var(--color-primary);
}

.tab-div.tab-div-active .close-tab {
  color: #4d4d4d;
}

#notepad {
  position: relative;
  background: var(--color-primary);
  color: var(--color-text-primary);
}

#notepad #notepad-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: var(--color-tertiary);
}

#notepad .notepad-body {
  height: calc(100% - 4em);
  position: relative;
  display: none;
  padding-top: 2em;
}

#notepad .notepad-body.active {
  display: block;
}

.quill-editor-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  border: 0px solid #ccc;
}

.quill-editor-container::-webkit-scrollbar {
  width: 5px;
}

.quill-editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.quill-editor-container::-webkit-scrollbar-thumb {
  background: #ccc;
}

.quill-editor-container::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.quill-editor {
  min-height: 100%;
  height: auto;
  border: 0px solid black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.quill-editor:focus {
  outline: 4px dashed black;
}

.quill-editor:focus-visible {
  outline: none;
}

#homepage {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color-primary);
  z-index: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
  font-size: xx-large;
}

#homepage.isActive {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-button {
  margin: 10px;
  background: var(--color-text-primary);
  outline: none;
  border: 0px solid black;
  height: 5rem;
  width: 5rem;
  border-radius: 4px;
  color: white;
}

.h-button i {
  font-size: xxx-large;
}

.h-button:hover {
  opacity: 0.5;
}

#calendarpage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  -ms-grid-rows: minmax(0, 1fr) minmax(0, 2fr);
      grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color-primary);
  z-index: 100;
  padding: 3rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-text-primary);
  font-size: xx-large;
}

#calendarpage.isActive {
  display: -ms-grid;
  display: grid;
}

#calendarpage #calendar-month-title-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(0, 10vh) minmax(0, 1fr);
      grid-template-rows: minmax(0, 10vh) minmax(0, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-size: 6vh;
  font-weight: bold;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

#calendarpage .calendar-button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#calendarpage #calendar-home-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  grid-row: 2;
  width: 50px;
  height: 50px;
}

#calendarpage #calendar-home-button i {
  font-size: 32px;
}

#calendarpage #calendar-month-div {
  background: pink;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
}

#calendarpage .calendar-arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendarpage .calendar-arrow-button:hover {
  opacity: 0.5;
}

#calendarpage #calendar-left-button {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

#calendarpage #calendar-right-button {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 12;
  grid-column: 12;
}

#calendar-day-overview {
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-column: 5 / 12;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#calendar-day-overview .container {
  background: #426059;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6vh 1fr;
      grid-template-rows: 6vh 1fr;
}

#calendar-day-overview .day-title {
  background: var(--color-highlight);
  padding: 0px 1rem;
  font-size: 4vh;
  color: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#calendar-day-overview .day-overview-timeline {
  background: var(--color-secondary);
  position: relative;
}

#calendar-day-overview .day-overview-timeline .calendar-event-div {
  background: white;
  height: 2vh;
}

#calendar-day-overview .day-overview-timeline .calendar-event-div:hover {
  background: brown;
}

#calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[7];
      grid-template-columns: repeat(7, minmax(0, 1fr));
  -ms-grid-rows: (minmax(0, 1fr))[6];
      grid-template-rows: repeat(6, minmax(0, 1fr));
  padding: 4px;
  background: var(--color-secondary);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#calendar .calendar-day {
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3vh 1fr;
      grid-template-rows: 3vh 1fr;
}

#calendar .calendar-day.non-day {
  background: #ddd;
}

#calendar .calendar-day.non-day:hover {
  opacity: 1;
}

#calendar .calendar-day:hover {
  opacity: 0.5;
}

#calendar .calendar-day .c-num {
  text-align: end;
  padding: 0px 5px;
  font-size: 2vh;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#calendar .calendar-day .c-timeline {
  position: relative;
}

#calendar .calendar-day .c-timeline .calendar-event-div {
  background: black;
  height: 10%;
}

.calendar-event-div {
  position: absolute;
  height: 1vh;
  background: black;
}

#settingspage {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--color-primary);
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-text-primary);
  font-size: xx-large;
}

#settingspage.isActive {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  -ms-grid-rows: minmax(0, 80px) 1fr;
      grid-template-rows: minmax(0, 80px) 1fr;
}

#settingspage .topbar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / span 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px solid var(--color-text-primary);
  border-bottom-width: thick;
}

#settingspage .body {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2 / 12;
  width: 100%;
  height: 100%;
  font-size: 27px;
  padding-top: 2rem;
}

#settingspage .body .settings-theme-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#settingspage #settings-home-button {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#settingspage #settings-home-button i {
  font-size: 30px;
}

#settingspage #settings-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.settings-option {
  margin-left: 20px;
}

.settings-option:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */