body {
  margin: 0;
  height: 100%;
  background-color: #505c45;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "top top" "filebrowser notepad" "timeline timeline";
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -ms-grid-rows: 10px 1fr 135px 5px;
      grid-template-rows: 10px 1fr 135px 5px;
}

#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #b5b5b5;
  position: relative;
}

#timeline-top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0;
  border: 0px solid #333D3A;
  border-bottom-width: thin;
  background: #4F5F5A;
  height: 26px;
}

#timeline-top-buttons #timeline-new-event-btn {
  background: #6A7C76;
  color: aliceblue;
  padding: 5px 10px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 1rem;
  font-family: sans-serif;
}

#timeline-top-buttons #timeline-new-event-btn:hover {
  background: #313131;
}

#timeline-top-buttons .timeline-hour-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #6A7C76;
  color: aliceblue;
  width: 30px;
  padding: 0 .25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timeline-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
  background: #141A18;
  position: relative;
}

#timeline-body .timeline-line-div {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #8F9F9A;
}

#timeline-n-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

#timeline-n-container input {
  width: 100%;
}

#timeline-n-container .tn-input-title {
  width: 25%;
}

#timeline-n-container .tn-input-container {
  margin: 0 5px;
  height: 100%;
  width: 10%;
  min-width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#timeline-n-container .tn-input {
  width: 10%;
}

.flex-gap {
  margin: 0 5px;
}

#tmei-start {
  width: 40%;
}

/* Timeline Change Event Container */
#timeline-c-div {
  background: white;
  width: 100%;
  position: absolute;
  top: -56px;
  height: 40px;
  padding: 5px 0;
  display: none;
}

#timeline-c-div #timeline-c-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timeline-c-div #timeline-c-container label {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

#timeline-c-div #tc-title {
  width: 90%;
}

#timeline-c-div .tc-input-container {
  margin: 0 5px;
  height: 100%;
  width: 10%;
  min-width: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#timeline-c-div .tc-title-input {
  width: 30%;
}

#timeline-c-div .tc-date-input {
  width: 20%;
}

#timeline-c-div .tc-date-input #tc-year {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 auto;
          flex: 2 0 auto;
}

#timeline-c-div .tc-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 1px solid black;
  text-align: center;
  padding: 1px 0;
}

#timeline-c-div .tc-button {
  width: 20%;
  height: 100%;
  float: right;
  margin-left: 3px;
}

#timeline-c-div .tc-button:hover {
  opacity: .8;
}

#timeline-c-div #tc-submit {
  background: green;
}

#timeline-c-div #tc-remove {
  background: red;
}

#timeline-c-div #tc-cancel {
  background: palevioletred;
}

.event-div {
  position: absolute;
  height: 10px;
  background: #8F9F9A;
}

.event-div:hover {
  background: blueviolet !important;
}

.ql-snow .ql-formats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.ql-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.ql-toolbar.ql-snow {
  padding: 1px;
}

#editor.ql-container.ql-snow {
  border: none;
}

.tab-div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  padding: 5px 5px 5px 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  margin-right: 1px;
  background: #ccc;
}

.tab-div span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tab-div:hover .close-tab {
  color: #4d4d4d;
}

.tab-div .close-tab {
  color: transparent;
}

.tab-div .close-tab:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.tab-div i {
  font-size: small;
  padding: 2px 4px;
}

.tab-div.tab-div-active {
  background: aliceblue;
}

.tab-div.tab-div-active .close-tab {
  color: #4d4d4d;
}

#notepad {
  position: relative;
}

#notepad #notepad-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #dddddd;
}

#notepad #notepad-bottom {
  position: relative;
  padding-top: 2em;
}

#editorcontainer {
  overflow-y: auto;
  border: 1px solid #ccc;
}

#editor {
  min-height: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */