

#timeline {
    display: flex;
    flex-direction: column;
    background: #b5b5b5;
    position: relative;

}

#timeline-body {
    flex: 1 0 auto;
    width: 100%;
    background: rgb(44, 66, 85);
    position: relative;
}

#timeline-top-buttons {
    /* position: relative; */
    display: flex;
    margin: 0px 5px;
}

#timeline-new-event-btn {
    background:teal;
    padding: 5px 10px;
    cursor: default;
}

#timeline-new-event-btn:hover {
    background: #f4f4f4;
}

.event-div {
    position: absolute;
    height: 20px;
    background: lavender;
}

.event-div:hover {
    background: blueviolet !important;
}

.timeline-line-div {
    position: absolute;
    width: 1px;
    height: 100%;
    background: gainsboro;
}