
#calendarpage {
    box-sizing: border-box;
    display: none;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-template-rows: minmax(0, 1fr) minmax(0, 2fr); 

    position: absolute;
    height: 100%;
    width: 100%;
    background: aliceblue;
    z-index: 100;
    padding: 3rem 0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size:xx-large;

    &.isActive {
        display: grid;
    }

    #calendar-month-title-area {
        display:grid;
        grid-template-rows: minmax(0, 10vh) minmax(0, 1fr);
        grid-template-columns: 1fr;
        font-size: 6vh;
        font-weight: bold;
        grid-column: 2 / span 3;
    }

    .calendar-button-area {
        display:flex;
        align-items: end;
        flex-direction:row-reverse;
    }
    #calendar-home-button {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 2;
        width: 50px;
        height: 50px;
        i {
            font-size: 32px;
        }
    }

    #calendar-month-div {
        background: pink;
        grid-row: 2;
        grid-column: 2 / 12;
    }

    .calendar-arrow-button {
        display:flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.5;
        }
    }

    #calendar-left-button {
        grid-row: 2;
        grid-column: 1;
    }

    #calendar-right-button {
        grid-row: 2;
        grid-column: 12;
    }
}

#calendar-day-overview {
    grid-column: 5 / 12;
    padding-bottom: 8px;
    box-sizing: border-box;
    
    .container {
        background: #426059;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 6vh 1fr;
    }

    .day-title {
        background: #426059;
        padding: 0px 1rem;
        font-size: 4vh;
        color: aliceblue;
    }

    .day-overview-timeline {
        background:grey;
        position: relative;
        
        .calendar-event-div {
            background: white;
            height: 2vh;

            &:hover {
                background: brown;
            }
        }
    }
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    padding: 4px;
    background: #ccc;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    
    .calendar-day {
        background: aliceblue;
        box-sizing: border-box;
        margin: 4px;
        display: grid;
        grid-template-rows: 3vh 1fr;

        &.non-day {
            background: #ddd;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 0.5;
        }

        .c-num {
            text-align: end;
            padding: 0px 5px;
            font-size: 2vh;
            font-weight: bold;
            user-select: none;
        }
        .c-timeline {
            position: relative;
            
            .calendar-event-div {
                background: black;
                height: 10%;
            }
        }
    }
}

.calendar-event-div {
    position: absolute;
    height: 1vh;
    background: black;
}