
#calendarpage {
    box-sizing: border-box;
    display: none;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-template-rows: minmax(0, 1fr) minmax(0, 2fr); 

    position: absolute;
    height: 100%;
    width: 100%;
    background: aliceblue;
    z-index: 100;
    padding: 3rem 0;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-size:xx-large;

    &.isActive {
        display: grid;
    }

    #calendar-month-title {
        font-size: 5vw;
        font-weight: bold;
        grid-column: 2 / span 3;
    }

    #calendar-day-overview {
        grid-column: 5 / 12;
        background: green;
    }

    #calendar-month-div {
        background: pink;
        grid-row: 2;
        grid-column: 2 / 12;
    }
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    padding: 4px;
    background: #ccc;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    
    .calendar-day {
        background: aliceblue;
        box-sizing: border-box;
        margin: 4px;

        &.non-day {
            background: #ddd;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 0.5;
        }

        .c-num {
            text-align: end;
            padding: 0px 5px;
            font-size: 2vh;
            font-weight: bold;
            user-select: none;
        }
    }
}

