
#filebrowser {
    background-color: var(--color-text-primary);
    color: var(--color-primary);
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;;
}

#filebrowser i {
    color: rgba(255,255,255,0.5);
}

.fb-title {
    font-size: small;
    font-family: 'Segoe UI';
    font-weight: bolder;
    padding: 10px 15px;


    /* border: 0px solid grey;
    border-bottom-width: thin;
    margin-bottom: 10px; */
}

.fb-section {
    padding: .5em 0;
}

.fb-title-btn {
    width: 100%;
    background-color: transparent;
    border-style: none;
}
.fb-title-btn:hover {
    background-color: lightgray;
}
.fb-title-btn-title {
    font-family: 'Segoe UI';
    text-align: center;
    text-align: left;
    padding-left: 1em;
    color: rgb(216, 216, 216);
}

.fb-item-btn {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    padding: 1.4px 0px;
    /* transition: all 0.1s ease; */
}
.fb-item-btn:hover {
    background-color: #464646;
}
.fb-item-btn.isActive {
    background-color: #616161;
}  

.fb-item-title {
    white-space: nowrap;
    font-family: 'Segoe UI';
    text-align: center;
    text-align: left;
    padding-left: 7px;
    // color: rgb(216, 216, 216);
    color: var(--color-primary);
}

.fb-item-dragging {
    width: auto;
    height: auto;
    color: rgb(216,216,216);
    background-color: rgb(57, 81, 102);
    padding: 0px 6px;
    border: 1px solid rgb(72, 141, 202);
    opacity: .86;
    font-size: smaller;
}
