
.tab-div {
    width: fit-content;
    height: auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    user-select:none;
    white-space:nowrap;
    margin-right:1px;
    background: #ccc;
    span {
        width: fit-content;
    }

    &:hover {
       .close-tab {
           color: rgb(77, 77, 77);
       } 
    }

    .close-tab {
        // color: rgb(153, 153, 153);
        color: transparent;
        &:hover {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }
    }

    i {
        font-size: small;
        padding: 2px 4px;
    }

}

.tab-div.tab-div-active {
    background: aliceblue;
    .close-tab {
        color: rgb(77,77,77);
    }
}

#notepad {
    position: relative;

    #notepad-top {
        display: flex;
        flex-wrap: nowrap;
        background: #dddddd
    }

    .notepad-body {
        height: calc(100% - 4em);
        position: relative;
        display: none;
        padding-top: $editor-top-margin;
    }

    .notepad-body.active {
        display: block;
    }
}

.quill-editor-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    // margin-top: $editor-top-margin;
    border: 0px solid #ccc;
}

.quill-editor {
    min-height: 100%;
    height: auto;
    border: 0px solid black;
    user-select: none;
    &:focus {
        outline: 4px dashed black;
    }
    &:focus-visible {
        outline: none;
    }
}