
.ql-snow .ql-formats {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.ql-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &.ql-snow {
        padding: 1px;
        border-width: 1px 0px;
    }
}

.ql-container.ql-snow {
    border: 0px;
}