
.ql-snow {
    .ql-stroke {
        stroke: var(--ql-stroke);    
    }
    .ql-picker {
        color: var(--ql-picker);
    }
}

.ql-snow .ql-formats {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.ql-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &.ql-snow {
        padding: 1px;
        border: 1px solid var(--ql-toolbar-border);
        border-width: 1px 0px;
    }
}

.ql-editor > div {
    border: none;
    background: var(--color-sub);
    color: var(--color-text-primary);
    letter-spacing: 1em;
    text-align: center;
    height: .25rem;
    caret-color: transparent;
    margin: .5rem 0;
}

// p.pagebreak, hr {
//     border: none;
//     background: var(--color-secondary);
//     color: var(--color-text-primary);
//     letter-spacing: 1em;
//     text-align: center;
//     height: 1rem;
//     caret-color: transparent;
// }

// hr:before {
//     // content: ". . .";
// }


.ql-container.ql-snow {
    border: 0px;
}