@import "_var";

#timeline {
    display: flex;
    flex-direction: column;
    background: #b5b5b5;
    position: relative;
}

#timeline-top-buttons {
    display: flex;
    padding: 0px 0;
    border: 0px solid #333D3A;
    border-bottom-width: thin;
    background: #8cb;
    height: 26px;

    #timeline-new-event-btn {
        background: #6A7C76;
        color: aliceblue;
        padding: 5px 10px;
        cursor: pointer;
        display: inline-flex;
        margin: 0 5px;
        align-items: center;
        padding: 0.25rem 1rem;
        font-family: sans-serif;

        &:hover {
            background: #313131;

        }
    }
    
    .timeline-hour-input {
        display: inline-flex;
        background: #6A7C76;
        color:aliceblue;
        width: 30px;
        padding: 0 .25rem;
        align-items: center;
        justify-content: center;
    }

}

#timeline-body {
    flex: 1 0 auto;
    width: 100%;
    background: #111;
    position: relative;

    .timeline-line-div {
        position: absolute;
        width: 1px;
        height: 100%;
        background: #8F9F9A;
    }
}

#timeline-n-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    input {
        width: 100%;
    }

    .tn-input-title {
        width: 25%;
    }

    .tn-input-container {
        margin: 0 5px;
        height: 100%;
        width: 10%;
        min-width: 50px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    .tn-input {
        width: 10%;
    }

    .tn-input-date {

    }
} 

.flex-gap {
    margin: 0 5px;
}

#tmei-start {
    width: 40%;
}


/* Timeline Change Event Container */

#timeline-c-div {
    background: white;
    width: 100%;
    position: absolute;
    top: -56px;
    height: 40px;
    padding: 5px 0;
    display: none;

    #timeline-c-container {
        display: flex;

        label {
            display: block;
            flex: 1 0 100%;
        }
    }

    #tc-title {
        width: 90%;
    }
    
    .tc-input-container {
        margin: 0 5px;
        height: 100%;
        width: 10%;
        min-width: 50px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tc-title-input {
        width: 30%;
    }
    
    .tc-date-input {
        width: 20%;
    }
    
    .tc-date-input #tc-year { 
        flex: 2 0 auto;
    }
    
    .tc-input {
        flex: 1 0 auto;
        border: 1px solid black;
        text-align: center;
        padding: 1px 0;
    }

    .tc-button {
        width: 20%;
        height: 100%;
        float: right;
        margin-left: 3px;

        &:hover {
            opacity: .8;
        }
    }
    
    #tc-submit {
        background: green;
    }
    
    #tc-remove {
        background: red;
    }
    
    #tc-cancel {
        background: palevioletred;
    }
}


.event-div {
    position: absolute;
    height: 10px;
    background: #8F9F9A;
}

.event-div:hover {
    background: blueviolet !important;
}

