@import "_var";

#timeline {
    display: flex;
    flex-direction: column;
    background: #b5b5b5;
    position: relative;
}

#timeline-top-buttons {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    display: flex;
    padding: 0px 0;
    border: 0px solid #333D3A;
    border-width: thin 0;
    background: #8cb;
    height: 26px;

    #timeline-new-event-btn {
        background: #6A7C76;
        color: aliceblue;
        padding: 5px 10px;
        cursor: pointer;
        display: inline-flex;
        margin: 0 5px;
        align-items: center;
        padding: 0.25rem 1rem;
        font-family: sans-serif;

        &:hover {
            background: #313131;

        }
    }
    
    .timeline-hour-input {
        display: inline-flex;
        background: #6A7C76;
        color:aliceblue;
        width: 30px;
        padding: 0 .25rem;
        align-items: center;
        justify-content: center;
    }

}

#timeline-body {
    flex: 1 0 auto;
    width: 100%;
    background: #0e0e0e;
    position: relative;

    .timeline-line-div {
        position: absolute;
        width: 1px;
        height: 100%;
        background: #3a3a3a;
    }
}

/* Timeline New Event Modal */

.tn-modal {
    display: none;
    position: fixed;
    z-index:1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.tn-modal-content {
    background-color: #fefefe;
    margin: 20% auto 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#timeline-n-div {
    background: transparent;
    display: flex;

    label {
        display: block;
        background: transparent;
        grid-column: span 2;
        user-select: none;
    }

    input {
        border: 1px solid black;
        grid-column: span 1;
        text-align: center;
    }

    .tn-input-div {
        border: 0px solid black;
        width: 100%;
        margin: 0px 3px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));

        &.title > input{
            grid-column: span 2;
        }
        &.date {
            grid-template-columns: repeat(3, minmax(0, 1fr));
            & > label {
                grid-column: span 3;
            }
        }
    }
}

/* Timeline Change Event Container */

#timeline-c-div {
    background: white;
    width: 100%;
    position: absolute;
    top: -56px;
    height: 40px;
    padding: 5px 0;
    border: 0px solid black;
    border-width: 1px 0px;
    display: none;

    #timeline-c-container {
        display: flex;

        label {
            display: block;
            flex: 1 0 100%;
        }
    }

    #tc-title {
        width: 90%;
    }
    
    .tc-input-container {
        margin: 0 5px;
        height: 100%;
        width: 10%;
        min-width: 50px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    
    .tc-title-input {
        width: 30%;
    }
    
    .tc-date-input {
        width: 20%;
    }
    
    .tc-date-input #tc-year { 
        flex: 2 0 auto;
    }
    
    .tc-input {
        flex: 1 0 auto;
        border: 1px solid black;
        text-align: center;
        padding: 1px 0;
    }

    .tc-button {
        width: 20%;
        height: 100%;
        float: right;
        margin-right: 5px;
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        &:hover {
            opacity: .8;
        }
    }
    
    #tc-submit {
        background: green;
    }
    
    #tc-remove {
        background: red;
    }
    
    #tc-cancel {
        background: palevioletred;
    }
}


.event-div {
    position: absolute;
    height: 10px;
    background: rgba(89, 126, 117, 0.72);
}

.event-div:hover {
    background: blueviolet !important;
}

