@import "_var";

body {
    margin:0;
    height: 100%;
    background-color: #3a3a3a;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
        "top top"
        "filebrowser notepad"
        "timeline timeline";

    grid-template-columns: 170px minmax(0,1fr);
    grid-template-rows: 0px minmax(0, 1fr) $notepad-base-height 5px;
}

@import "_timeline";
@import "_quill";
@import "_notepad";