@import "_var";

:root {
    --fb-width: 170px;
    --tl-height: 110px;
    --bot-bar-height: 5px;
}

body {
    margin:0;
    height: 100%;
    background-color: var(--color-highlight);//#3a3a3a;
    overflow: hidden;
    user-select: none;

    display: grid;
    grid-template-areas: 
        "top top"
        "filebrowser notepad"
        "timeline timeline";

    grid-template-columns: var(--fb-width) minmax(0,1fr);
    grid-template-rows: 0px minmax(0, 1fr) var(--tl-height) var(--bot-bar-height);
}

.resize-line {
    position: absolute;
    z-index: 1;
}

#fb-resize {
    cursor: ew-resize;
    background: purple;
    left: var(--fb-width);
    height: 100%;
    width: 4px;
    bottom: calc(var(--tl-height) + var(--bot-bar-height));
}

#tl-resize {
    cursor: ns-resize;
    background: pink;
    bottom: calc(var(--tl-height) + var(--bot-bar-height));
    height: 4px;
    width: 100%;
}

.light-theme {
    // --color-primary: aliceblue;
    // --color-secondary: #ccc;
    // --color-tertiary: #ddd;
    
    --color-accent: #555;
    // --color-text-primary: black;

    --color-text-primary: #444;
    --color-primary: #eee;
    --color-secondary: #b2b2b2;
    --color-tertiary: #ddd;
    --color-highlight: #2e4648;//#8cb;
    --color-highlight-sub: #4ea3ad33;
}

.dark-theme {
    --color-primary: #15181a;
    --color-secondary: #242424;
    --color-tertiary: #333;
    --color-text-primary: rgb(175, 175, 175);
}

@import "_timeline";
@import "_contextmenu";
@import "_filebrowser";
@import "_quill";
@import "_notepad";
@import "_homepage";
@import "_calendarpage";
@import "_settingspage";