@import "_var";

body {
    margin:0;
    height: 100%;
    background-color: var(--color-highlight);//#3a3a3a;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
        "top top"
        "filebrowser notepad"
        "timeline timeline";

    grid-template-columns: 170px minmax(0,1fr);
    grid-template-rows: 0px minmax(0, 1fr) $notepad-base-height 5px;
}

.light-theme {
    // --color-primary: aliceblue;
    // --color-secondary: #ccc;
    // --color-tertiary: #ddd;
    
    --color-accent: #555;
    // --color-text-primary: black;

    --color-primary: #eee;
    --color-secondary: #b2b2b2;
    --color-tertiary: #ddd;
    --color-text-primary: #444;
    --color-highlight: #473737;//#8cb;
}

.dark-theme {
    --color-primary: #15181a;
    --color-secondary: #242424;
    --color-tertiary: #333;
    --color-text-primary: rgb(175, 175, 175);
}

@import "_timeline";
@import "_contextmenu";
@import "_filebrowser";
@import "_quill";
@import "_notepad";
@import "_homepage";
@import "_calendarpage";
@import "_settingspage";